.card {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    border: 1px solid #e2e2e2;
    position: relative;

    &:hover {
      border: 1px solid #8a8a8a;
      border-radius: 5px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    }

    &-title {
      font-size: 18px;
    }

    &-description {
      &__item {
        margin: 0;
        font-size: 12px;
      }
    }

    &-image {
      margin: 0 auto;
      max-width: 160px;
      height: 130px;
    }

    &-price {
      color: #333333;
      font-size: 20px;
      align-self: flex-end;
    }
  }
}

@media (max-width: 800px) {
  .card {
    &__item {
      &-image {
        margin: 0;
      }

      @media (max-width: 500px) {
        padding: 10px;
      }
    }
  }
}